[submodule "Gitlab/na_mager_invoice"]
	path = Gitlab/na_mager_invoice
	url = git@gitlab.com:nexapp-srl/odoo/na_mager_invoice.git
	branch = 16.0
[submodule "Gitlab/na_mager_product"]
	path = Gitlab/na_mager_product
	url = git@gitlab.com:nexapp-srl/odoo/na_mager_product.git
	branch = 16.0
[submodule "Gitlab/theme_mager"]
	path = Gitlab/theme_mager
	url = git@gitlab.com:nexapp-srl/odoo/theme_mager.git
	branch = 16.0
[submodule "Gitlab/na_website_scroll_top_bytesfuel"]
	path = Gitlab/na_website_scroll_top_bytesfuel
	url = git@gitlab.com:nexapp-srl/odoo/na_website_scroll_top_bytesfuel.git
	branch = 16.0
[submodule "Gitlab/na_mager_customers_location"]
	path = Gitlab/na_mager_customers_location
	url = git@gitlab.com:nexapp-srl/odoo/na_mager_customers_location.git
	branch = 16.0
